.album img {
  background-color: rgb(62,75,70, 0.8);
  padding: 1rem;
  margin: 1rem;

}

.album {
  font-family: 'Playfair Display', serif;
}

#song-list {
  background-color: rgb(62,75,70, 0.8);

}

#album-cover-art {
  max-width: 80%;
}

.album-details {
  text-align: center;
  font-weight: bold;
}
