.selling-points {
  background-color: rgb(62,75,70, 0.8);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;

}

.selling-points h2 {
  font-size: 1.5em;
  color: #A5BBBA;
}

#landingpage {
  font-family: 'Playfair Display', serif;
}

.hero-title {
  text-align:center;
  padding-bottom: 1em;
}
