#albumCover {
background-color: rgb(62,75,70, 0.8);
}

.eachAlbum {
  background-color: rgb(62,75,70, 0.8);
  color: white;
  max-width: 25%;
  display: inline-flex;
  padding: 1rem;
  margin: 1.5rem;
}

.eachAlbum a {
  font-family: 'Playfair Display', serif;
  color: white;
}

.eachAlbum a:hover {
  color: #A5BBBA;
}
